VITE_SUPABASE_URL=https://dqliigyhxavbbtzyxypg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbGlpZ3loeGF2YmJ0enl4eXBnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1ODUyNTUsImV4cCI6MjEwMzE2MTI1NX0.cP0BsLrBFWzGF3lRoqHqGvjzkgE_tSBt7N2DbavQf88